AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: No
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
ContinuationIndentWidth: 2
ColumnLimit: 128
IndentGotoLabels: No
RemoveBracesLLVM: Yes
PackConstructorInitializers: Never
ReferenceAlignment: Right
PointerAlignment: Right
SortIncludes: Never
